{% extends 'base.html' %}
{% load static %}

{% block styles %}
.flex-container {
  display: flex;
  z-index: 10;
}
{% endblock %}

{% block title%}
{{ name }}
{% endblock %}

{% block content %}
{{ request.path|json_script:"link"}}
{{ stock|json_script:"stock" }}

<div class= "backbox">
  <div class = "flex-container">
    <div>
      <h2></h2>
      <h1 style="color: #ae3df0;">Ticker Symbol: {{ name }}</h1>
      <h2 id="price" style="color: #ae3df0;">Live Price: {{livePrice}}</h2>
      <h2 id = "PE" style="color: #ae3df0;">Price to Equity: {{PERatio}}</h2>
      <h2 id = "PriceToBook" style="color: #ae3df0;">Price To Book: {{priceToBook}}</h2>
      <h2 id = "DE"style="color: #ae3df0;">Debt To Equity: {{DE}}</h2>
      <h2 id = "FCF" style="color: #ae3df0;">Free Cash Flow: {{FCF}}</h2>
      <h2 id = "PEG" style="color: #ae3df0;">Price Earnings To Growth: {{PEG}}</h2>
      <h2></h2>
    </div>
    <div style = "height:500px;width: 500px">
        <canvas id="myChart" ></canvas>
    </div>
  </div> 
</div>
<script src="{% static 'stock.js' %}"></script>

{% endblock%}
